<div class="row">
	<div class="span6 offset3">
		<%= form_for(:session, url: sessions_path) do |f| %>
		<%= f.label :email, "E-mail" %>
		<%= f.text_field :email %>

		<%= f.label :password, "Senha" %>
		<%= f.password_field :password %>

		<%= f.submit "Acessar", class: "btn btn-large btn-primary" %>

		<p>Novo Usuário? <%= link_to "Cadastre-se agora!", signup_path %></p>
		<% end %>
	</div>
</div>