<p id="notice"><%= notice %></p>

<p>
  <strong>Titulo:</strong>
  <%= @aula.titulo %>
</p>

<p>
  <strong>Descricao:</strong>
  <%= @aula.descricao %>
</p>

<p>
  <strong>Professor:</strong>
  <%= @aula.professor_id %>
</p>

<p>
  <strong>Horario:</strong>
  <%= @aula.horario %>
</p>

<%= link_to 'Edit', edit_aula_path(@aula) %> |
<%= link_to 'Back', aulas_path %>
